body {
	margin          : 0;
	padding         : 0;
	background-color: #cccccc;
}

.container {
	height : 500px;
	padding: 0 15px;

	@media (min-width: 1300px) {
		width : 1280px;
		margin: 0 auto;
	}
}